body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color:gainsboro;
}

header {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}

h1 {
    font-size: 48px;
    word-spacing: 24px;
}

h2 {
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: column;
}

#cta {
    font-size: 24px;
    padding: 12px;
    text-align: center;
}

.choice-btns {
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
    border: 3px solid black;
}

button {
    background-color: orangered;
    color: white;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
}